@model Blog.Models.ViewModels.PostDetailsViewModel

@{
	ViewBag.Title = Model.Post.Title;
	ViewBag.Description = Model?.Post.Excerpt;
	ViewBag.Keywords = $"{ Model.Post.Tags?.Replace(",", "") } { Model.Post.Title }";
}

<section class="post mb-5">
	<div class="container my-3">
		<div class="card col-md-12 border-0 py-3 mb-3">
			@if (!string.IsNullOrEmpty(@Model.Post.ImagePath))
			{
				<div class="g-item-news-details mb-3" style="background-image:url('/content/img/@Model.Post.ImagePath');"></div>
			}
			<div class="card-body">
				<h2 class="card-title text-center mb-3">@Model.Post.Title</h2>
				<p class="card-text">@Html.Raw(Model.Post.Content)</p>

				<div class="col-md-3 col-lg-8 text-right ml-auto">
					<p class="m-0 align-bottom">Posted: @Model.Post.Created.ToShortDateString()</p>
					<p class="m-0 align-bottom">Updated: @Model.Post.Updated.ToShortDateString()</p>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center justify-content-md-end mb-4">
			<a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Post.Id" class="btn btn-primary my-1"><i class="fas fa-eye"></i> Details</a>
			<a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-warning my-1"><i class="fas fa-edit"></i> Edit</a>
			<a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-danger my-1"
			   onclick="return confirm('Are you sure to delete this?');">
				<i class="fas fa-trash"></i> Delete
			</a>
		</div>
		<h4>Share</h4>
		<hr />
		<div class="col-sm-12 col-md-3">
			<partial name="_PostShareButtons" model="@Model.Post" />
		</div>
	</div>
</section>

<section id="comments">
	<div class="container">
		<h4>New Comment</h4>
		<hr />
		<div class="col-md-6 mb-4">
			@await Html.PartialAsync("_CommentCreateForm", new Blog.Models.ViewModels.CommentViewModel { PostId = Model.Post.Id, Comment = new Comment(), ReturnUrl = Context.Request.Path })
		</div>

		<h4>Comments</h4>
		<hr />
		@if (Model.Comments.Any())
		{
			<div class="col-md-8 mt-5">
				@foreach (Comment comment in Model.Comments)
				{
					<div class="col-12 mb-3">
						<div class="row col-12">
							<h5><u>@comment.UserName</u></h5>
							<p class="small ml-auto">@comment.Created.ToShortDateString()</p>
						</div>
						<p class="mb-0">@comment.Message</p>
						<a asp-controller="Comments" asp-action="Delete"
						   asp-route-id="@comment.Id"
						   asp-route-returnUrl="@Context.Request.Path"
						   onclick="return confirm('Are you sure to delete this?');"
						   class="btn btn-danger btn-sm float-right mb-3">Delete</a>
						<hr />
					</div>
				}
			</div>
		}
	</div>
</section>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<link rel="stylesheet" href="~/lib/rrssb/css/rrssb.css" />
	<script src="~/lib/rrssb/js/rrssb.min.js"></script>
}