@model Blog.Models.Post

@{
	ViewData["Title"] = "Details";
}

<section class="post">
	<h1>@Model.Title</h1>
	<p class="content">
		@Html.Raw(Model.Content)

	</p>
	<a href="/" class="btn btn-primary">Back</a>
</section>

<section id="admin">
	<a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary my-1"><i class="fas fa-eye"></i> Details</a>
	<a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning my-1"><i class="fas fa-edit"></i> Edit</a>
	<a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger my-1"
	   onclick="return confirm('Are you sure to delete this?');">
		<i class="fas fa-trash"></i> Delete
	</a>
</section>